﻿@model DGN21.Models.ApplicationUser
@{
    ViewBag.Title = "Usuario";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section Styles {
    <link href="//www.fuelcdn.com/fuelux/3.13.0/css/fuelux.min.css" rel="stylesheet">
}
<h2>@ViewBag.Title</h2>
<br />
<div class="row">
    <div class="fuelux col-xs-12">
        <div class="wizard" data-initialize="wizard" id="myWizard">
            <div class="steps-container">
                <ul class="steps">
                    <li data-step="1" class="active">
                        <span class="badge">1</span>Asignar rol
                        <span class="chevron"></span>
                    </li>
                </ul>
            </div>
            <div class="step-content">
                <div class="step-pane active sample-pane alert" data-step="1">
                    @using (Html.BeginForm("UsuarioRol", "Admin", FormMethod.Post, new { id = "frm" }))
                    {
                        if (!ViewData.ModelState.IsValid)
                        {
                            <div class="row">
                                <div class="alert alert-warning">
                                    @Html.ValidationSummary(false, "Información Inválida.", new { @class = "text-danger" })
                                </div>
                            </div>
                        }
                        @Html.HiddenFor(model => model.Id, new { @class = "form-control", @Id = "hdId" })
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Email, new { @class = "control-label", @id = "lblEmail" })
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @Id = "txtEmail", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    @Html.Label("Rol", new { @class = "control-label", @id = "lbl" })
                                    @Html.DropDownListFor(model => model.PhoneNumber, new SelectList(ViewBag.Roles, "Id", "Name"), "SIN ROL", new { @class = "form-control select2", @Id = "ddlRoles", @name = "ddlRoles", @style = "width: 100%!important;" })
                                </div>
                            </div>
                        </div>
                        <div class="pull-right">
                            <button type="submit" class="btn btn-default">
                                Guardar
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="//www.fuelcdn.com/fuelux/3.13.0/js/fuelux.min.js"></script>
}