﻿@model DGN21.Models.ApplicationUser
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="jumbotron">
    @using (Html.BeginForm("Usuario", "Admin", FormMethod.Post, new { id = "frm" }))
    {
        <h2>Consulta del usuario para asignar rol</h2>
        <p class="lead">Ingresa el correo del usuario al que generará el rol.</p>
        <p>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <button id="submit" type="submit" class="btn btn-success">
                <i class="glyphicon glyphicon-search"></i> Buscar
            </button>
        </p>
    }
</div>