﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DGN21</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Scripts/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/img/favicon.ico" rel="icon" type="image/png" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="navbar navbar-red navbar-fixed-top">
        <div class="container" style="width: 100%!important;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index","Archivo")" class="navbar-brand"><img src="~/Content/img/logo_notarias.jpg" alt="Dirección General de Notarías" style="height: 50px; margin-top: -15px;" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Solicitudes turnadas", "InboxTurnadas", "Solicitudes")</li>
                    <li>@Html.ActionLink("Reportes turnadas", "ReporteTurnadas", "Solicitudes")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content" style="width: 85%!important;">
        @RenderBody()
        <hr />
        <footer class="copyright">
            <img src="~/Content/img/LogotipoGobiernoSonora_LogotipoColorTricromía.png" style="height:160px;margin-bottom: 10px;">
            <p>
                <b>Dirección General de Notarías del Estado de Sonora</b>
                Centro de Gobierno, Edif. Sonora Norte, Planta Baja, Paseo del Canal y Comonfort, C.P. 83280, Hermosillo, Sonora, México.
                <br /> Teléfono: (662) 217-45-90 y 217-03-14
                <a href="https://notarias.sonora.gob.mx/" title="Dirección General de Notarias" class="acolor3">notarias.sonora.gob.mx</a>
            </p>
            <p><small>&copy; Gobierno del Estado de Sonora. Todos los Derechos Reservados</small></p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/toastr/toastr.min.js" asp-file-version="true"></script>
    <script src="~/Scripts/messageCommon.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
