﻿body {
    background-color: #F9F9F9 !important;
}

hr.style-red {
    border: 0;
    height: 3px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #960E53, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #960E53, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #960E53, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #960E53, #f0f0f0);
    margin-bottom: 40px;
}

/*h2 {
    margin-top: 60px !important;
}*/

.navbar-red {
    background-color: #ffffff;
    border-color: #DC7F37;
    border-bottom-width: 5px;
}

    .navbar-red .navbar-brand {
        color: #555;
    }

    .navbar-red .navbar-nav > li > a {
        color: #555;
        left: -15px;
    }

    .navbar-red .navbar-nav .nav-link:hover, .navbar-red .navbar-nav .nav-link:focus {
        color: #555;
    }

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #B94645 !important;
    color: #fff !important;
}

.copyright {
    background: #F9F9F9 none repeat scroll 0 0;
    color: #999;
    font-size: 12px;
    line-height: 1.4em;
    padding-top: 25px;
    padding-bottom: 20px !important;
    text-align: center;
}

.btn-success {
    background-color: #960E53 !important;
    border-color: #410324 !important;
}

.btn-info {
    background-color: #000 !important;
    border-color: #000 !important;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #000 !important;
    border-color: #000 !important;
}

.fuelux .wizard > ul.steps li.active, .fuelux .wizard > .steps-container > ul.steps li.active {
    color: #DC7F37 !important;
}

.fuelux .wizard > ul.steps li.active .badge, .fuelux .wizard > .steps-container > ul.steps li.active .badge {
    background-color: #DC7F37 !important;
}

.fuelux .wizard > ul.steps li.complete, .fuelux .wizard > .steps-container > ul.steps li.complete {
    color: #960E53 !important;
}

.fuelux .wizard > ul.steps li .badge-success, .fuelux .wizard > .steps-container > ul.steps li .badge-success {
    background-color: #960E53 !important;
}

.alert-info {
    color: #9b2f3e !important;
    background-color: #DC7F37 !important;
    border-color: #B94645 !important;
}

.alert-danger {
    color: #410324 !important;
    background-color: #B94645 !important;
    border-color: #9B2F3E !important;
}

.alert-danger .text-danger {
    color: #FFFFFF !important;
}

.acolor1 {
    color: #DC7F37 !important;
}

.acolor2 {
    color: #B94645 !important;
}

.acolor3 {
    color: #9b2f3e !important;
}

.acolor4 {
    color: #410324 !important;
}

.acolor5 {
    color: #960E53 !important;
}

.navbar-red .navbar-nav > li > a {
    color: #410324 !important;
}