﻿@{
    Layout = null;
    ViewBag.Title = "Header PDF";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DGN21</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>
<body style="padding: 0px; margin: 0px;">
    <div class="row">
        <div class="col-xs-4">
            <img src="~/Content/img/logo_notarias.jpg" style="height: 100px;" />
        </div>
        <div class="col-xs-8 text-right">
            <img src="~/Content/img/LogotipoGobiernoSonora_LogotipoColorTricromía.png" style="height: 100px;" />
        </div>
    </div>
</body>
</html>
