﻿@using reCAPTCHA.MVC
@model DGN21.Models.SolicitudesModels
@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    @using (Html.BeginForm("Consulta", "Solicitudes", FormMethod.Post, new { id = "frmConsulta" }))
    {
        <h1>Consulta de Solicitud</h1>
        <p>
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        </p>
        <p class="lead">
            Ingresa el folio de solicitud que llegó a tu correo electrónico.
        </p>
        <p>
            @Html.TextBoxFor(m => m.IdSolicitud, new { @class = "form-control" })
        </p>
        <p class="lead">
            Ingresa tu correo electrónico.
        </p>
        <p>
            @Html.TextBoxFor(m => m.CorreoElectronico, new { @class = "form-control" })
        </p>
        <p>
            @Html.Recaptcha()
            @Html.ValidationMessage("ReCaptcha", new { @class = "text-danger" })
            <span id="recaptchaMsg" class="text-danger"></span>
        </p>
        <p>
            <button id="submit" type="submit" class="btn btn-success">
                <i class="glyphicon glyphicon-search"></i> Buscar
            </button>
        </p>
    }
</div>

@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@