﻿@{
    ViewBag.Title = "Confirmación de correo electrónico";
}
<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-8">
        Favor de revisar su bandeja de entrada de correo electrónico, se envía un correo electrónico de confirmación a @ViewBag.Email
    </div>
</div>