﻿@model List<DGN21.Models.CorrespondenciaModels>
@{
    ViewBag.Title = "Bandeja de correspondencia";
    if(User.IsInRole("RECEPCION"))
    {
        Layout = "~/Views/Shared/_LayoutRecepcion.cshtml";
    }
    else if (User.IsInRole("SECRETARIA(O)"))
    {
        Layout = "~/Views/Shared/_LayoutSecretaria.cshtml";
    }
}
@section styles {
    <link rel="stylesheet" type="text/css" href="~/Content/DataTables/media/css/dataTables.bootstrap.css">
}
<h2>@ViewBag.Title</h2>
<br />
<div class="light-bordered-rigth">
    <div class="row">
        <div class="col-xs-12">
            <table id="datatable1" class="table table-striped table-bordered" style="width:100%;">
                <thead>
                    <tr>
                        <th style="text-align:center">FOLIO</th>
                        <th style="text-align:center">NO. OFICIO</th>
                        <th style="text-align:center">DESTINATARIO</th>
                        <th style="text-align:center">REMITENTE</th>
                        <th style="text-align:center">DEPENDENCIA</th>
                        <th style="text-align:center">ASUNTO</th>
                        <th style="text-align:center">FECHA DE OFICIO</th>
                        <th style="text-align:center">FECHA DE RECIBIDO</th>
                        <th style="text-align:center">FECHA DE TÉRMINO</th>
                        <th style="text-align:center">ALERTA DE TÉRMINO</th>
                        <th style="text-align:center">FECHA DE REGISTRO</th>
                        <th class="no-sort"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td style="text-align:center">
                            @Html.DisplayFor(modelItem => item.IdCorrespondencia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NoOficio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Destinatario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Remitente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dependencia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Asunto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaOficio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaRecibido)
                        </td>
                        <td>
                            @if (item.FechaTermino != new DateTime(1900, 01, 01))
                            {
                                @Html.DisplayFor(modelItem => item.FechaTermino)
                            }
                        </td>

                        <td>
                            @if ((item.FechaTermino.Date >= DateTime.Now.Date) && (item.FechaTermino.Date <= DateTime.Now.AddDays(3).Date))
                            {
                                <p style="background:red; color:white; font-weight:bold;">&nbsp;</p>
                            }
                            else if ((item.FechaTermino.Date >= DateTime.Now.Date) && (item.FechaTermino.Date <= DateTime.Now.AddDays(5).Date))
                            {
                                <p style="background:yellow; color:white; font-weight:bold;">&nbsp;</p>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaCreacion)
                        </td>
                        <td>
                            <button id="detalle" type="button" class="btn btn-info btn-xs" title="Modificar" onclick="location.href='@Url.Action("Nueva", "Correspondencia", new { id = item.IdCorrespondencia })'">
                                <i class="glyphicon glyphicon-edit"></i>
                            </button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.2/jspdf.plugin.autotable.js"></script>
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables/media/js/dataTables.bootstrap.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable1').DataTable({
                "order": [[9, "desc"], [8, "asc"]],
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "Sin solicitudes",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Sin información",
                    "infoFiltered": "(Filtrado de _MAX_ registros totales)",
                    "paginate": {
                        "previous": "Anterior",
                        "next": "Siguiente",
                        "first": "Primera página",
                        "last": "Última página"
                    },
                    "sSearch": "Buscar:"
                },
                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": false,
                }]
            });
        });
    </script>
}