﻿@model DGN21.Models.CorrespondenciaModels
@{
    ViewBag.Title = "Nueva Correspondencia";
    ViewBag.Message = "LLenar datos de correspondencia";
    if(User.IsInRole("RECEPCION"))
    {
        Layout = "~/Views/Shared/_LayoutRecepcion.cshtml";
    }
    else if (User.IsInRole("SECRETARIA(O)"))
    {
        Layout = "~/Views/Shared/_LayoutSecretaria.cshtml";
    }
}
@section Styles {
    <link href="//www.fuelcdn.com/fuelux/3.13.0/css/fuelux.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/DataTables/media/css/dataTables.bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap-datepicker3.min.css" />
}
<h2>@ViewBag.Title</h2>
<br />
<div class="row">
    <div class="fuelux col-xs-12">
        @using (Html.BeginForm("Guardar", "Correspondencia", FormMethod.Post, new { id = "frmCorrespondencia" }))
        {
            <div class="wizard" data-initialize="wizard" id="myWizard">
                <div class="steps-container">
                    <ul class="steps">
                        <li data-step="1" class="active">
                            <span class="badge">1</span>@ViewBag.Message
                            <span class="chevron"></span>
                        </li>
                    </ul>
                </div>
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger">
                        @Html.ValidationSummary(false, "Debe ingresar toda la información requerida.", new { @class = "text-danger" })
                    </div>
                }
                <div class="step-content">
                    <div class="step-pane active sample-pane alert" data-step="1">
                        @Html.HiddenFor(model => model.IdCorrespondencia, new { @class = "form-control", @Id = "hdIdCorrespondencia" })
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.NoOficio, new { @class = "control-label", @id = "lblNoOficio" })
                                    @Html.TextBoxFor(model => model.NoOficio, new { @class = "form-control", @Id = "txtNoOficio" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Destinatario, new { @class = "control-label", @id = "lblDestinatario" })
                                    @Html.TextBoxFor(model => model.Destinatario, new { @class = "form-control", @Id = "txtDestinatario" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Remitente, new { @class = "control-label", @id = "lblRemitente" })
                                    @Html.TextBoxFor(model => model.Remitente, new { @class = "form-control", @Id = "txtRemitente" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Dependencia, new { @class = "control-label", @id = "lblDependencia" })
                                    @Html.TextBoxFor(model => model.Dependencia, new { @class = "form-control", @Id = "txtDependencia" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Asunto, new { @class = "control-label", @id = "lblAsunto" })
                                    @Html.TextBoxFor(model => model.Asunto, new { @class = "form-control", @Id = "txtAsunto" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FechaOficio, new { @Id = "lblFechaOficio", @class = "control-label" })
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </div>
                                        @Html.TextBoxFor(model => model.FechaOficio, "{0:dd/MM/yyyy}", new { @class = "form-control pull-right datepicker", @Id = "txtFechaOficio" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
                                <div class="form-group">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FechaRecibido, new { @Id = "lblFechaRecibido", @class = "control-label" })
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </div>
                                        @Html.TextBoxFor(model => model.FechaRecibido, "{0:dd/MM/yyyy}", new { @class = "form-control pull-right datepicker", @Id = "txtFechaRecibido" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
                                <div class="form-group">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FechaTermino, new { @Id = "lblFechaTermino", @class = "control-label" })
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </div>
                                        @Html.TextBoxFor(model => model.FechaTermino, "{0:dd/MM/yyyy}", new { @class = "form-control pull-right datepicker", @Id = "txtFechaTermino" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pull-right">
                            <button id="submit" type="submit" class="btn btn-success">
                                <i class="glyphicon glyphicon-floppy-save"></i> Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    <script src="//www.fuelcdn.com/fuelux/3.13.0/js/fuelux.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.2/jspdf.plugin.autotable.js"></script>
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables/media/js/dataTables.bootstrap.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var objMessageCommon = new MessageCommon();
            var onErrorGetInfo = function (error) {
                objMessageCommon.errorTitle("Ocurrió un error al consultar la información.", "Error");
            }

            var fechaO = $("#txtFechaOficio").val();
            if (fechaO === "01/01/0001") {
                $("#txtFechaOficio").val("");
            }

            var fechaR = $("#txtFechaRecibido").val();
            if (fechaR === "01/01/0001") {
                $("#txtFechaRecibido").val("");
            }

            var fechaT = $("#txtFechaTermino").val();
            if (fechaT === "01/01/0001") {
                $("#txtFechaTermino").val("");
            }

            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
                defaultDate: moment(new Date())
            });

            $('#frmCorrespondencia').submit(function () {
                //Validation/
                if ($('#txtFechaOficio').val().trim() == "") {
                    objMessageCommon.warningTitle("Debes seleccionar la fecha de oficio.", "Información Incompleta");
                    return false;
                }
                if ($('#txtFechaRecibido').val().trim() == "") {
                    objMessageCommon.warningTitle("Debes seleccionar la fecha de recibido.", "Información Incompleta");
                    return false;
                }
                if ($('#txtFechaTermino').val().trim() == "") {
                    objMessageCommon.warningTitle("Debes seleccionar la fecha de término.", "Información Incompleta");
                    return false;
                }
            })            
        });
    </script>
}