﻿@model DGN21.Models.ViewModels.CorrespondenciaViewModels
@{
    ViewBag.Title = "Reporte de correspondencia";
    if(User.IsInRole("RECEPCION"))
    {
        Layout = "~/Views/Shared/_LayoutRecepcion.cshtml";
    }else if (User.IsInRole("DIRECTOR(A)"))
    {
        Layout = "~/Views/Shared/_LayoutDirector.cshtml";
    }
    else if (User.IsInRole("SECRETARIA(O)"))
    {
        Layout = "~/Views/Shared/_LayoutSecretaria.cshtml";
    }
}
@section styles {
    <link rel="stylesheet" type="text/css" href="~/Content/DataTables/media/css/dataTables.bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap-datepicker3.min.css" />
    @*<link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.min.css" />*@
}
<h2>@ViewBag.Title</h2>
<br />
@using (Html.BeginForm("Reporte", "Correspondencia", FormMethod.Post, new { id = "frmReporte" }))
{
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
            <div class="form-group">
                @Html.LabelFor(model => model.FiltroReporte.FechaInicioReporte, new { @Id = "lblInicio", @class = "control-label" })
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </div>
                    @Html.TextBoxFor(model => model.FiltroReporte.FechaInicioReporte, "{0:dd/MM/yyyy}", new { @class = "form-control pull-right datepicker", @Id = "txtStart" })
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
            <div class="form-group">
                @Html.LabelFor(model => model.FiltroReporte.FechaFinReporte, new { @Id = "lblFin", @class = "control-label" })
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </div>
                    @Html.TextBoxFor(model => model.FiltroReporte.FechaFinReporte, "{0:dd/MM/yyyy}", new { @class = "form-control pull-right datepicker", @Id = "txtEnd" })
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
            <div class="form-group">
                <label class="control-label">&nbsp;</label>
                <button type="submit" id="btnReporte" class="btn btn-success form-control">Nuevo Reporte</button>
            </div>
        </div>
    </div>
}
<br />
<br />
<div class="light-bordered-rigth">
    <div class="row">
        <div class="col-xs-12">
            <table id="datatable1" class="table table-striped table-bordered" style="width:100%;">
                <thead>
                    <tr>
                        <th style="text-align:center">FOLIO</th>
                        <th style="text-align:center">NO. OFICIO</th>
                        <th style="text-align:center">DESTINATARIO</th>
                        <th style="text-align:center">REMITENTE</th>
                        <th style="text-align:center">DEPENDENCIA</th>
                        <th style="text-align:center">ASUNTO</th>
                        <th style="text-align:center">FECHA DE OFICIO</th>
                        <th style="text-align:center">FECHA DE RECIBIDO</th>
                        <th style="text-align:center">FECHA DE TÉRMINO</th>
                        <th style="text-align:center">FECHA DE REGISTRO</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CorrespondenciaInbox)
                    {
                    <tr>
                        <td style="text-align:center">
                            @Html.DisplayFor(modelItem => item.IdCorrespondencia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NoOficio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Destinatario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Remitente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dependencia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Asunto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaOficio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaRecibido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaTermino)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaCreacion)
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.2/jspdf.plugin.autotable.js"></script>
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables/media/js/dataTables.bootstrap.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js" type="text/javascript"></script>
    @*<script src="~/Scripts/bootstrap-datetimepicker.min.js" type="text/javascript"></script>*@
    <script type="text/javascript">
        $(document).ready(function () {
            var objMessageCommon = new MessageCommon();
            var onErrorGetInfo = function (error) {
                objMessageCommon.errorTitle("Ocurrió un error al consultar la información.", "Error");
            }            
            var fechaO = $("#txtStart").val();
            if (fechaO === "01/01/0001") {
                $("#txtStart").val("");
            }

            var fechaR = $("#txtEnd").val();
            if (fechaR === "01/01/0001") {
                $("#txtEnd").val("");
            }

            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
                defaultDate: moment(new Date())
            });


            //function Report(data) {
            //    $.ajax({
            //        type: "POST",
            //        url: '/Solicitudes/ReporteTurnadas',
            //        data: data,
            //        success: function (data) {
            //            if (data === undefined || data === null || data === "") {
            //                objMessageCommon.errorTitle("Ocurrió un error, intente de nuevo", "Error");
            //                return;
            //            }
            //            return;
            //        },
            //        error: function (error) {
            //            objMessageCommon.errorTitle("No se pudo realizar el reporte, favor de intentar de nuevo.", "Error");
            //        }
            //    })
            //}

            $('#frmReporte').submit(function () {
                //Validation/
                var startDate = moment($('#txtStart').val(), "DD/MM/YYYY HH:mm A");
                    var endDate = moment($('#txtEnd').val(), "DD/MM/YYYY HH:mm A");
                    if (startDate > endDate) {
                        objMessageCommon.warningTitle("¡La fecha de inicio no puede ser después de la fecha fin!", "Información Inválida");
                        return false;
                }

                //if ($('#txtStart').val().trim() == "") {
                //    objMessageCommon.warningTitle("Debes seleccionar la fecha de inicio.", "Información Incompleta");
                //    return false;
                //}
                //if ($('#txtEnd').val().trim() == "") {
                //    objMessageCommon.warningTitle("Debes seleccionar la fecha fin.", "Información Incompleta");
                //    return false;
                //}
                //else {
                //    var startDate = moment($('#txtStart').val(), "DD/MM/YYYY HH:mm A");
                //    var endDate = moment($('#txtEnd').val(), "DD/MM/YYYY HH:mm A");
                //    if (startDate > endDate) {
                //        objMessageCommon.warningTitle("¡La fecha de inicio no puede ser después de la fecha fin!", "Información Inválida");
                //        return false;
                //    }
                //}

                //var data = {
                //    FechaInicioReporte: $('#txtStart').val(),
                //    FechaFinReporte:  $('#txtEnd').val(),
                //    EstatusSolicitud: $('#ddlEstatus').val()
                //}
                //Report(data);
                // call function for submit data to the server
            })

            var table = $('#datatable1').DataTable({
                "order": [[0, "desc"]],
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "Sin solicitudes",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Sin información",
                    "infoFiltered": "(Filtrado de _MAX_ registros totales)",
                    "paginate": {
                        "previous": "Anterior",
                        "next": "Siguiente",
                        "first": "Primera página",
                        "last": "Última página"
                    },
                    "sSearch": "Buscar:",
                    "sLoadingRecords": "Cargando...",
                },
                "dom": 'Bfrtip',
                "buttons": [["excelHtml5", "pdfHtml5"]],
                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": false,
                }]
            });

            table.buttons().container().appendTo($('.col-sm-6:eq(0)', table.table().container()));
        });
    </script>
}
