﻿@model DGN21.Models.ViewModels.SolicitudesViewModels
@{
    ViewBag.Title = "Consulta de Solicitud";

    var displayDispTest = "none";
    if(Model.Solicitud.TipoTramite == 4)
    {
        displayDispTest = "block";
    }
}
@section Styles {
    <link href="//www.fuelcdn.com/fuelux/3.13.0/css/fuelux.min.css" rel="stylesheet">
}
<h2>@ViewBag.Title</h2>
<h3 class="alert alert-info">
    Folio: @Model.Solicitud.IdSolicitud<br />
    Estatus: @Model.Solicitud.EstatusSolicitudes.EstatusSolicitud
</h3>
<br />
<div class="row">
    <div class="fuelux col-xs-12">
        <div class="wizard" data-initialize="wizard" id="myWizard">
            <div class="steps-container">
                <ul class="steps">
                    <li data-step="1" class="active">
                        <span class="badge">1</span>Detalles de la solicitud
                        <span class="chevron"></span>
                    </li>
                </ul>
                <ul class="steps">
                    <li data-step="2" class="active">
                        <span class="badge">1</span>Estatus de la solicitud
                        <span class="chevron"></span>
                    </li>
                </ul>
            </div>
            <div class="step-content">
                <div class="step-pane active sample-pane alert" data-step="1">
                    @Html.HiddenFor(model => model.Solicitud.IdSolicitud, new { @class = "form-control", @Id = "hdIdSolicitud" })
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Solicitud.NombreSolicitante, new { @class = "control-label", @id = "lblNombre" })
                                @Html.TextBoxFor(model => model.Solicitud.NombreSolicitante, new { @class = "form-control", @Id = "txtNombre", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Solicitud.ApellidoPaterno, new { @class = "control-label", @id = "lblApellidoPaterno" })
                                @Html.TextBoxFor(model => model.Solicitud.ApellidoPaterno, new { @class = "form-control", @Id = "txtApellidoPaterno", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Solicitud.ApellidoMaterno, new { @class = "control-label", @id = "lblApellidoMaterno" })
                                @Html.TextBoxFor(model => model.Solicitud.ApellidoMaterno, new { @class = "form-control", @Id = "txtApellidoMaterno", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Solicitud.CorreoElectronico, new { @class = "control-label", @id = "lblCorreo" })
                                @Html.TextBoxFor(model => model.Solicitud.CorreoElectronico, new { @class = "form-control", @Id = "txtCorreo", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Solicitud.Telefono, new { @class = "control-label", @id = "lblTelefono" })
                                @Html.TextBoxFor(model => model.Solicitud.Telefono, new { @class = "form-control", @Id = "txtTelefono", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Solicitud.Escritura, new { @class = "control-label", @id = "lblEscritura" })
                                @Html.TextBoxFor(model => model.Solicitud.Escritura, new { @class = "form-control", @Id = "txtEscritura", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Solicitud.Vol, new { @class = "control-label", @id = "lblVol" })
                                @Html.TextBoxFor(model => model.Solicitud.Vol, new { @class = "form-control", @Id = "txtVol", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Solicitud.NoNotaria, new { @class = "control-label", @id = "lblNoNotaria" })
                                @Html.TextBoxFor(model => model.Solicitud.NoNotaria, new { @class = "form-control", @Id = "txtNoNotaria", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Solicitud.Notario, new { @class = "control-label", @id = "lblNotario" })
                                @Html.TextBoxFor(model => model.Solicitud.Notario, new { @class = "form-control", @Id = "txtNotario", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Solicitud.Demarcacion, new { @class = "control-label", @id = "lblDemarcacion" })
                                @Html.TextBoxFor(model => model.Solicitud.Demarcacion, new { @class = "form-control", @Id = "txtDemarcacion", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Solicitud.TipoTramite, new { @Id = "lblTipoTramite", @class = "control-label" })
                                @Html.DropDownListFor(model => model.Solicitud.TipoTramite, new SelectList(ViewBag.TiposTramite, "IdTipoTramite", "TipoTramite"), "Seleccione...", new { @class = "form-control select25", @Id = "ddlTiposTramite", @name = "ddlTiposTramite", @style = "width: 100%!important;", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group" id="dispTestamentaria" style="display:@displayDispTest">
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Solicitud.Cujus, new { @class = "control-label", @id = "lblCujus" })
                                    @Html.TextBoxFor(model => model.Solicitud.Cujus, new { @class = "form-control", @Id = "txtCujus", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Solicitud.Juzgado, new { @class = "control-label", @id = "lblJuzgado" })
                                    @Html.TextBoxFor(model => model.Solicitud.Juzgado, new { @class = "form-control", @Id = "txtJuzgado", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group form-check">
                                @Html.CheckBoxFor(model => model.Solicitud.CompareceEscritura, new { @class = "form-check-input", @Id = "chkCompareceEscritura", @disabled = "disabled" })
                                @Html.LabelFor(model => model.Solicitud.CompareceEscritura, new { @class = "control-label", @id = "lblCompareceEscritura" })
                            </div>
                        </div>
                    </div>
                    <div class="pull-right">
                        <button id="nextStep2" type="button" class="btn btn-default btn-next">
                            Continuar <i class="glyphicon glyphicon-arrow-right"></i>
                        </button>
                    </div>
                </div>
                <div class="step-pane active sample-pane alert" data-step="2">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Solicitud.EstatusSolicitud, new { @Id = "lblEstatus", @class = "control-label" })
                                @Html.DropDownListFor(model => model.Solicitud.EstatusSolicitud, new SelectList(ViewBag.EstatusSolicitudes, "IdEstatusSolicitud", "EstatusSolicitud"), "Seleccione...", new { @class = "form-control select25", @Id = "ddlEstatus", @name = "ddlEstatus", @style = "width: 100%!important;", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                    @if (Model.Observaciones?.Count > 0)
                    {
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="control-label">Historial de Observaciones</label>
                                    <table id="datatable1" class="table table-striped table-bordered" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th style="text-align:center">@Html.DisplayNameFor(model => model.Observacion.Observacion)</th>
                                                <th style="text-align:center">@Html.DisplayNameFor(model => model.Observacion.FechaCreacion)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Observaciones)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Observacion)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.FechaCreacion)
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label">Subir mas documentos</label>
                                @using (Html.BeginForm("SubirArchivo", "Solicitudes", new { id = Model.Solicitud.IdSolicitud }, FormMethod.Post, new { enctype = "multipart/form-data", method = "post" }))
                                {
                                    if (!ViewData.ModelState.IsValid)
                                    {
                                        <div class="alert alert-danger">
                                            @Html.ValidationSummary(false, "Fallas de documentos.", new { @class = "text-danger" })
                                        </div>
                                    }
                                    <div>
                                        <input type="file" name="file" />
                                    </div>
                                    <br />
                                    <div class="left">
                                        <button type="submit" class="btn btn-sm btn-primary">
                                            <span class="glyphicon glyphicon-open"></span>
                                            &nbsp;Subir archivo
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="pull-right">
                        @if (Model.PapeletasPago != null && !Model.PapeletasPago.IdPapeletaPago.Equals(0))
                        {
                            <button id="papeletaPago" type="button" class="btn btn-info" onclick="location.href='@Url.Action("DownloadPapeletaPago", "Solicitudes", new { id = Model.PapeletasPago.IdSolicitud })'">
                                <i class="glyphicon glyphicon-download"></i> Papeleta de pago
                            </button>
                        }
                        <button id="prevStep1" type="button" class="btn btn-default btn-prev">
                            <i class="glyphicon glyphicon-arrow-left"></i> Atrás
                        </button>
                        <div class="pull-right">
                            @Html.ActionLink("Finalizar", "Index", "Home", new { id = 0 }, new { @class = "btn btn-default", @id = "finishStep1" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="//www.fuelcdn.com/fuelux/3.13.0/js/fuelux.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myWizard').wizard();
        });
    </script>
}