﻿@model DGN21.Models.SolicitudesModels
@{
    ViewBag.Title = "Folio de Solicitud: " + Model.IdSolicitud;
    ViewBag.Message = "Adjunta documento(s) que acredite interés jurídico";
    if (User.IsInRole("ADMINISTRADOR"))
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }else if (User.IsInRole("RECEPCION"))
    {
        Layout = "~/Views/Shared/_LayoutRecepcion.cshtml";
    }else if (User.IsInRole("SECRETARIA(O)"))
    {
        Layout = "~/Views/Shared/_LayoutSecretaria.cshtml";
    }else if(User.IsInRole("ABOGADO(A)"))
    {
        Layout = "~/Views/Shared/_LayoutAbogado.cshtml";
    }else if (User.IsInRole("ARCHIVO"))
    {
        Layout = "~/Views/Shared/_LayoutArchivo.cshtml";
    }
}
@section Styles {
    <link href="//www.fuelcdn.com/fuelux/3.13.0/css/fuelux.min.css" rel="stylesheet">
}
<h2 class="alert alert-info">@ViewBag.Title</h2>
<div class="row">
    <div class="fuelux col-xs-12">
        @using (Html.BeginForm("SubirArchivo", "Solicitudes", new { id = Model.IdSolicitud }, FormMethod.Post, new { enctype = "multipart/form-data", method = "post" }))
        {
            <div class="wizard" data-initialize="wizard" id="myWizard">
                <div class="steps-container">
                    <ul class="steps">
                        <li data-step="1" class="active">
                            <span class="badge">1</span>@ViewBag.Message
                            <span class="chevron"></span>
                        </li>
                    </ul>
                </div>
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger">
                        @Html.ValidationSummary(false, "Fallas de documentos.", new { @class = "text-danger" })
                    </div>
                }
                <div class="step-content">
                    <div class="step-pane active sample-pane alert" data-step="1">
                        <div class="col-sm-6">
                            <input type="file" name="file" />
                        </div>
                        <div class="col-md-6 left">
                            <button type="submit" class="btn btn-sm btn-primary">
                                <span class="glyphicon glyphicon-open"></span>
                                &nbsp;Subir archivo
                            </button>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                @foreach (var item in Model.Documentos)
                                {
                                    @*<a href="@Url.Action("DescargarArchivo", "Solicitudes", new { id = item.IdDocumento })">
                                        <span class="glyphicon glyphicon-save"></span>
                                        <span>@item.Nombre.@item.Extension</span>
                                    </a>
                                    <a href="@Url.Action("EliminarArchivo", "Solicitudes", new { id = item.IdDocumento })" class="text-danger">
                                        <span class="glyphicon glyphicon-remove text-danger small"></span>
                                        Eliminar archivo
                                    </a>*@
                                    <span class="glyphicon glyphicon-save-file"></span>
                                    <span>@item.Nombre.@item.Extension</span>
                                    <br />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    <script src="//www.fuelcdn.com/fuelux/3.13.0/js/fuelux.min.js"></script>
}