﻿@model List<DGN21.Models.SolicitudesModels>
@{
    ViewBag.Title = "Bandeja de solicitudes ya asignadas";
    if(User.IsInRole("ADMINISTRADOR"))
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }else if (User.IsInRole("RECEPCION"))
    {
        Layout = "~/Views/Shared/_LayoutRecepcion.cshtml";
    }else if (User.IsInRole("SECRETARIA(O)"))
    {
        Layout = "~/Views/Shared/_LayoutSecretaria.cshtml";
    }else if (User.IsInRole("DIRECTOR(A)"))
    {
        Layout = "~/Views/Shared/_LayoutDirector.cshtml";
    }
    int dispTestamentaria = 4;
    int busquedaAnio = 5;
}
@section styles {
    <link rel="stylesheet" type="text/css" href="~/Content/DataTables/media/css/dataTables.bootstrap.css">
}
<h2>@ViewBag.Title</h2>
<br />
<div class="light-bordered-rigth">
    <div class="row">
        <div class="col-xs-12">
            <table id="datatable1" class="table table-striped table-bordered" style="width:100%;">
                <thead>
                    <tr>
                        <th style="text-align:center">FOLIO</th>
                        <th style="text-align:center">SOLICITANTE</th>
                        <th style="text-align:center">EMAIL</th>
                        <th style="text-align:center">TELEFONO</th>
                        <th style="text-align:center">TIPO DE TRAMITE</th>
                        <th style="text-align:center">FECHA DE SOLICITUD</th>
                        <th class="no-sort"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.IdSolicitud)
                            </td>
                            <td>
                                @string.Format("{0} {1} {2}", item.NombreSolicitante, item.ApellidoPaterno, item.ApellidoMaterno)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CorreoElectronico)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Telefono)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TiposTramites.TipoTramite)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaCreacion)
                            </td>
                            <td>
                                <button id="detalle" type="button" class="btn btn-info btn-xs" title="Más información de solicitud" onclick="location.href='@Url.Action("Detalle", "Solicitudes", new { id = item.IdSolicitud })'">
                                    <i class="glyphicon glyphicon-info-sign"></i>
                                </button>
                                <br /><button id="solicitarBusqueda" type="button" class="btn btn-info btn-xs" title="Solicitar búsqueda por año" onclick="location.href='@Url.Action("SolicitarBusqueda", "Solicitudes", new { id = item.IdSolicitud })'">
                                    <i class="glyphicon glyphicon-search"></i> Solicitar búsqueda
                                </button>
                                @if (item.TipoTramite == dispTestamentaria || item.TipoTramite == busquedaAnio)
                                {
                                    <br /><button id="papeletaPago" type="button" class="btn btn-info btn-xs" title="Generar papeleta de pago" onclick="location.href='@Url.Action("PapeletaPagos", "Solicitudes", new { id = item.IdSolicitud })'">
                                        <i class="glyphicon glyphicon-file"></i> Papeleta de Pago
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.2/jspdf.plugin.autotable.js"></script>
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables/media/js/dataTables.bootstrap.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable1').DataTable({
                "order": [[0, "desc"]],
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "Sin solicitudes",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Sin información",
                    "infoFiltered": "(Filtrado de _MAX_ registros totales)",
                    "paginate": {
                        "previous": "Anterior",
                        "next": "Siguiente",
                        "first": "Primera página",
                        "last": "Última página"
                    },
                    "sSearch": "Buscar:"
                },
                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": false,
                }]
            });
        });
    </script>
}