﻿@model List<DGN21.Models.SolicitudesModels>
@{
    ViewBag.Title = "Bandeja de solicitudes turnadas";
    if(User.IsInRole("ABOGADO(A)"))
    {
        Layout = "~/Views/Shared/_LayoutAbogado.cshtml";
    }else if (User.IsInRole("ARCHIVO"))
    {
        Layout = "~/Views/Shared/_LayoutArchivo.cshtml";
    }else
    {
        Layout = "~/Views/Shared/_LayoutAbogado.cshtml";
    }
}
@section styles {
    <link rel="stylesheet" type="text/css" href="~/Content/DataTables/media/css/dataTables.bootstrap.css">
}
<h2>@ViewBag.Title</h2>
<br />
<div class="light-bordered-rigth">
    <div class="row">
        <div class="col-xs-12">
            <table id="datatable1" class="table table-striped table-bordered" style="width:100%;">
                <thead>
                    <tr>
                        <th style="text-align:center">FOLIO</th>
                        <th style="text-align:center">SOLICITANTE</th>
                        <th style="text-align:center">EMAIL</th>
                        <th style="text-align:center">TELEFONO</th>
                        <th style="text-align:center">TIPO DE TRAMITE</th>
                        <th style="text-align:center">FECHA DE SOLICITUD</th>
                        <th class="no-sort"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.IdSolicitud)
                            </td>
                            <td>
                                @string.Format("{0} {1} {2}", item.NombreSolicitante, item.ApellidoPaterno, item.ApellidoMaterno)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CorreoElectronico)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Telefono)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TiposTramites.TipoTramite)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaCreacion)
                            </td>
                            <td>
                                @if (User.IsInRole("ABOGADO(A)"))
                                {
                                    @Html.ActionLink(" ", "Turnada", "Solicitudes", new { id = item.IdSolicitud }, new { @class = "btn btn-info btn-xs glyphicon glyphicon-info-sign", title = "Más información" })
                                }
                                else if (User.IsInRole("ARCHIVO"))
                                {
                                    @Html.ActionLink(" ", "TurnadaArchivo", "Solicitudes", new { id = item.IdSolicitud }, new { @class = "btn btn-info btn-xs glyphicon glyphicon-info-sign", title = "Más información" })
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.2/jspdf.plugin.autotable.js"></script>
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables/media/js/dataTables.bootstrap.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable1').DataTable({
                "order": [[0, "desc"]],
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "Sin solicitudes",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Sin información",
                    "infoFiltered": "(Filtrado de _MAX_ registros totales)",
                    "paginate": {
                        "previous": "Anterior",
                        "next": "Siguiente",
                        "first": "Primera página",
                        "last": "Última página"
                    },
                    "sSearch": "Buscar:"
                },
                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": false,
                }]
            });
        });
    </script>
}