﻿@model DGN21.Models.ViewModels.SolicitudesViewModels
@{
    ViewBag.Title = "Generar papeleta de pago";
    ViewBag.Message = "Información de papeleta de pago";
    if (User.IsInRole("ADMINISTRADOR"))
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else if (User.IsInRole("RECEPCION"))
    {
        Layout = "~/Views/Shared/_LayoutRecepcion.cshtml";
    }
    else if (User.IsInRole("SECRETARIA(O)"))
    {
        Layout = "~/Views/Shared/_LayoutSecretaria.cshtml";
    }else if (User.IsInRole("DIRECTOR(A)"))
    {
        Layout = "~/Views/Shared/_LayoutDirector.cshtml";
    }
}
@section Styles {
    <link href="//www.fuelcdn.com/fuelux/3.13.0/css/fuelux.min.css" rel="stylesheet">
}
<h2>@ViewBag.Title</h2>
<h3 class="alert alert-info">
    INFORMACIÓN GENERAL DE SOLICITUD PREVIA<br />
    Folio solicitud: @Model.Solicitud.IdSolicitud<br />
    Estatus de solicitud: @Model.Solicitud.EstatusSolicitudes.EstatusSolicitud<br />
    Solicitante: @Model.Solicitud.NombreSolicitante @Model.Solicitud.ApellidoPaterno @Model.Solicitud.ApellidoMaterno<br />
    E-mail: @Model.Solicitud.CorreoElectronico<br />
    Cel: @Model.Solicitud.Telefono
</h3>
<br />
<div class="row">
    <div class="fuelux col-xs-12">
        <div class="wizard" data-initialize="wizard" id="myWizard">
            <div class="steps-container">
                <ul class="steps">
                    <li data-step="1" class="active">
                        <span class="badge">1</span>@ViewBag.Message
                        <span class="chevron"></span>
                    </li>
                </ul>
            </div>
            <div class="step-content">
                <div class="step-pane active sample-pane alert" data-step="1">
                    @using (Html.BeginForm("PapeletaPagos", "Solicitudes", FormMethod.Post, new { id = "frmPapeleta" }))
                    {
                        if (!ViewData.ModelState.IsValid)
                        {
                            <div class="alert alert-danger">
                                @Html.ValidationSummary(false, "Debe ingresar toda la información requerida.", new { @class = "text-danger" })
                            </div>
                        }
                        <div class="row">
                            @Html.HiddenFor(model => model.Solicitud.IdSolicitud, new { @class = "form-control", @Id = "hdIdSolicitud" })
                            @Html.HiddenFor(model => model.PapeletasPago.IdPapeletaPago, new { @class = "form-control", @Id = "hdIdPapeletaPago" })
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PapeletasPago.FormatosPapeletas, new { @Id = "lblEstatus", @class = "control-label" })
                                    @Html.DropDownListFor(model => model.PapeletasPago.IdFormatoPapeleta, new SelectList(ViewBag.FormatosPapeletas, "IdFormatoPapeleta", "NombreFormato"), "Seleccione...", new { @class = "form-control", @Id = "ddlEstatus", @name = "ddlFormatos", @style = "width: 100%!important;" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PapeletasPago.Cantidad, new { @class = "control-label", @id = "lblCantidad" })
                                    @Html.TextBoxFor(model => model.PapeletasPago.Cantidad, new { @class = "form-control", @Id = "txtCantidad" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PapeletasPago.CantidadLetra, new { @class = "control-label", @id = "lblCantidadLetra" })
                                    @Html.TextBoxFor(model => model.PapeletasPago.CantidadLetra, new { @class = "form-control", @Id = "txtCantidadLetra" })
                                </div>
                            </div>
                        </div>
                        <div class="pull-right">
                            @if (Model.PapeletasPago != null && !Model.PapeletasPago.IdPapeletaPago.Equals(0))
                            {
                                <button id="papeletaPago" type="button" class="btn btn-info" onclick="location.href='@Url.Action("DownloadPapeletaPago", "Solicitudes", new { id = Model.PapeletasPago.IdSolicitud })'">
                                    <i class="glyphicon glyphicon-download"></i> Papeleta de pago
                                </button>
                            }
                            <button type="submit" class="btn btn-success">
                                <i class="glyphicon glyphicon-floppy-save"></i> Guardar
                            </button>
                        </div>
                    }
                    @{Html.EndForm();}
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="//www.fuelcdn.com/fuelux/3.13.0/js/fuelux.min.js"></script>
}