﻿@model DGN21.Models.ViewModels.SolicitudesViewModels
@{
    Layout = null;
    ViewBag.Title = "Papeleta de pago";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DGN21</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <style>
        /* SOLUCIONA PROBLEMA DE SOLAPAMIENTO EN TABLAS <table /> */
        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }
    </style>
</head>
<body style="padding: 0px; margin: 0px; font-size: 16px;">
    <table class="table table-bordered align-middle" style="border: 1px double black;">
        <tr>
            <td>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <img src="~/Content/img/logo_notarias.jpg" style="height: 100px;" />
                    </div>
                </div>
                <br />
                <br />
                <br />
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <strong>BOLETA DE PAGO POR @Model.Solicitud.TiposTramites.TipoTramite.ToUpper()</strong>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-12 text-left">
                        CLAVE FISCAL: <strong> _______________________ </strong>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-12 text-right">
                        Hermosillo, Sonora; a ______ de _______________________ de @DateTime.Now.Year
                    </div>
                </div>
                <br />
                <br />
                <br />
                <div class="row">
                    <div class="col-xs-4 text-left">
                        <strong>
                            C. AGENTE FISCAL DEL ESTADO
                            <br />
                            P r e s e n t e.
                        </strong>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-12 text-left">
                        Favor de recibir del portado la cantidad de $@Model.PapeletasPago.Cantidad (@Model.PapeletasPago.CantidadLetra 00/100 M.N.).
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-left">
                        Por concepto de pago de Derechos Notariales originados por ______________________________________________ de ESCRITURA: @Model.Solicitud.Escritura VOL: @Model.Solicitud.Vol Lic. @Model.Solicitud.Notario NP: @Model.Solicitud.NoNotaria de @Model.Solicitud.Demarcacion a solicitud de:
                        @string.Format("{0} {1} {2}", Model.Solicitud.NombreSolicitante, Model.Solicitud.ApellidoPaterno, Model.Solicitud.ApellidoMaterno).
                    </div>
                </div>
                <br />
                <br />
                <div class="row">
                    <div class="col-xs-12 text-left">
                        <h5>
                            <small>
                                NOTA: LA AGENCIA FISCAL LES APLICARÁ EL 45% MÁS DE LOS COSTOS QUE CORRESPONDEN:
                                <br />DEL 15% PARA UNIVERSIDAD DE SONORA
                                <br />15% PARA INSFRAESTRUCTURA EDUCATIVA Y
                                <br />15% PARA EL CECOP
                            </small>
                        </h5>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <strong>
                            ATENDIÓ:
                            <br />
                            DIRECCIÓN GENERAL DE NOTARÍAS
                        </strong>
                    </div>
                </div>
                <br />
            </td>
        </tr>
    </table>
    <div class="row">
        <div class="col-xs-12 text-left">
            Una vez realizado el pago, se deberán digitalizar el comprobante de pago, y subirlo a la página <a href="http://tramitesdgn.sonora.gob.mx/" target="_blank" title="Trámites Dirección General de Notarias" class="acolor3">tramitesdgn.sonora.gob.mx</a> ingresando con su número de folio en Estatus de Solicitud.
        </div>
    </div>
</body>
</html>