﻿@model DGN21.Models.SolicitudesBusquedaModels
@{
    ViewBag.Title = "Nueva Solicitud de Búsqueda";
    ViewBag.Message = "LLenar solicitud de búsqueda";
    if(User.IsInRole("ADMINISTRADOR"))
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }else if (User.IsInRole("RECEPCION"))
    {
        Layout = "~/Views/Shared/_LayoutRecepcion.cshtml";
    }else if (User.IsInRole("SECRETARIA(O)"))
    {
        Layout = "~/Views/Shared/_LayoutSecretaria.cshtml";
    }else if (User.IsInRole("DIRECTOR(A)"))
    {
        Layout = "~/Views/Shared/_LayoutDirector.cshtml";
    }
}
@section Styles {
    <link href="//www.fuelcdn.com/fuelux/3.13.0/css/fuelux.min.css" rel="stylesheet">
}
<h2>@ViewBag.Title</h2>
<h3 class="alert alert-info">
    INFORMACIÓN GENERAL DE SOLICITUD PREVIA<br />
    Folio solicitud: @Model.IdSolicitud<br />
    Estatus de solicitud: @Model.Solicitudes.EstatusSolicitudes.EstatusSolicitud<br />
    Solicitante: @Model.Solicitudes.NombreSolicitante @Model.Solicitudes.ApellidoPaterno @Model.Solicitudes.ApellidoMaterno<br />
    E-mail: @Model.Solicitudes.CorreoElectronico<br />
    Cel: @Model.Solicitudes.Telefono
</h3>
<br />
<div class="row">
    <div class="fuelux col-xs-12">
        @using (Html.BeginForm("GuardarBusqueda", "Solicitudes", FormMethod.Post, new { id = "frmSolicitudB" }))
        {
            <div class="wizard" data-initialize="wizard" id="myWizard">
                <div class="steps-container">
                    <ul class="steps">
                        <li data-step="1" class="active">
                            <span class="badge">1</span>@ViewBag.Message
                            <span class="chevron"></span>
                        </li>
                    </ul>
                </div>
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger">
                        @Html.ValidationSummary(false, "Debe ingresar toda la información requerida.", new { @class = "text-danger" })
                    </div>
                }
                <div class="step-content">
                    <div class="step-pane active sample-pane alert" data-step="1">
                        @Html.HiddenFor(model => model.IdSolicitud, new { @class = "form-control", @Id = "hdIdSolicitud" })
                        @Html.HiddenFor(model => model.IdSolicitudBusqueda, new { @class = "form-control", @Id = "hdIdSolicitudB" })
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Otorgante, new { @class = "control-label", @id = "lblOtorgante" })
                                    @Html.TextBoxFor(model => model.Otorgante, new { @class = "form-control", @Id = "txtOtorgante" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AnioEscritura, new { @class = "control-label", @id = "lblAnioEscritura" })
                                    @Html.TextBoxFor(model => model.AnioEscritura, new { @class = "form-control", @Id = "txtAnioEscritura" })
                                </div>
                            </div>
                        </div>
                        <div class="pull-right">
                            <button id="submit" type="submit" class="btn btn-success">
                                <i class="glyphicon glyphicon-floppy-save"></i> Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    <script src="//www.fuelcdn.com/fuelux/3.13.0/js/fuelux.min.js"></script>
}