﻿@model DGN21.Models.SolicitudesModels
@{
    ViewBag.Title = "Nueva Solicitud";
    ViewBag.Message = "LLenar solicitud";
    if (User.IsInRole("ADMINISTRADOR"))
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else if (User.IsInRole("RECEPCION"))
    {
        Layout = "~/Views/Shared/_LayoutRecepcion.cshtml";
    }
    else if (User.IsInRole("SECRETARIA(O)"))
    {
        Layout = "~/Views/Shared/_LayoutSecretaria.cshtml";
    }

    var displayDispTest = "none";
    if(Model.TipoTramite == 4)
    {
        displayDispTest = "block";
    }
}
@section Styles {
    <link href="//www.fuelcdn.com/fuelux/3.13.0/css/fuelux.min.css" rel="stylesheet">
}
<h2>@ViewBag.Title</h2>
<br />
<div class="row">
    <div class="fuelux col-xs-12">
        @using (Html.BeginForm("Guardar", "Solicitudes", FormMethod.Post, new { id = "frmSolicitud" }))
        {
            <div class="wizard" data-initialize="wizard" id="myWizard">
                <div class="steps-container">
                    <ul class="steps">
                        <li data-step="1" class="active">
                            <span class="badge">1</span>@ViewBag.Message
                            <span class="chevron"></span>
                        </li>
                    </ul>
                </div>
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger">
                        @Html.ValidationSummary(false, "Debe ingresar toda la información requerida.", new { @class = "text-danger" })
                    </div>
                }
                <div class="step-content">
                    <div class="step-pane active sample-pane alert" data-step="1">
                        @Html.HiddenFor(model => model.IdSolicitud, new { @class = "form-control", @Id = "hdIdSolicitud" })
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.NombreSolicitante, new { @class = "control-label", @id = "lblNombre" })
                                    @Html.TextBoxFor(model => model.NombreSolicitante, new { @class = "form-control", @Id = "txtNombre" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ApellidoPaterno, new { @class = "control-label", @id = "lblApellidoPaterno" })
                                    @Html.TextBoxFor(model => model.ApellidoPaterno, new { @class = "form-control", @Id = "txtApellidoPaterno" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ApellidoMaterno, new { @class = "control-label", @id = "lblApellidoMaterno" })
                                    @Html.TextBoxFor(model => model.ApellidoMaterno, new { @class = "form-control", @Id = "txtApellidoMaterno" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CorreoElectronico, new { @class = "control-label", @id = "lblCorreo" })
                                    @Html.TextBoxFor(model => model.CorreoElectronico, new { @class = "form-control", @Id = "txtCorreo" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Telefono, new { @class = "control-label", @id = "lblTelefono" })
                                    @Html.TextBoxFor(model => model.Telefono, new { @class = "form-control", @Id = "txtTelefono" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Escritura, new { @class = "control-label", @id = "lblEscritura" })
                                    @Html.TextBoxFor(model => model.Escritura, new { @class = "form-control", @Id = "txtEscritura" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Vol, new { @class = "control-label", @id = "lblVol" })
                                    @Html.TextBoxFor(model => model.Vol, new { @class = "form-control", @Id = "txtVol" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.NoNotaria, new { @class = "control-label", @id = "lblNoNotaria" })
                                    @Html.TextBoxFor(model => model.NoNotaria, new { @class = "form-control", @Id = "txtNoNotaria" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Notario, new { @class = "control-label", @id = "lblNotario" })
                                    @Html.TextBoxFor(model => model.Notario, new { @class = "form-control", @Id = "txtNotario" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Demarcacion, new { @class = "control-label", @id = "lblDemarcacion" })
                                    @Html.TextBoxFor(model => model.Demarcacion, new { @class = "form-control", @Id = "txtDemarcacion" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TipoTramite, new { @Id = "lblTipoTramite", @class = "control-label" })
                                    @Html.DropDownListFor(model => model.TipoTramite, new SelectList(ViewBag.TiposTramite, "IdTipoTramite", "TipoTramite"), "Seleccione...", new { @class = "form-control select25", @Id = "ddlTiposTramite", @name = "ddlTiposTramite", @style = "width: 100%!important;" })
                                </div>
                            </div>
                            <div class="form-group" id="dispTestamentaria" style="display:@displayDispTest">
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Cujus, new { @class = "control-label", @id = "lblCujus" })
                                        @Html.TextBoxFor(model => model.Cujus, new { @class = "form-control", @Id = "txtCujus" })
                                    </div>
                                </div>                                
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CujusSegundo, new { @class = "control-label", @id = "lblCujusSegundo" })
                                        @Html.TextBoxFor(model => model.CujusSegundo, new { @class = "form-control", @Id = "txtCujusSegundo" })
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Juzgado, new { @class = "control-label", @id = "lblJuzgado" })
                                        @Html.TextBoxFor(model => model.Juzgado, new { @class = "form-control", @Id = "txtJuzgado" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group form-check">
                                    @Html.CheckBoxFor(model => model.CompareceEscritura, new { @class = "form-check-input", @Id = "chkCompareceEscritura" })
                                    @Html.LabelFor(model => model.CompareceEscritura, new { @class = "control-label", @id = "lblCompareceEscritura" })
                                </div>
                            </div>
                        </div>
                        <div class="pull-right">
                            <button id="submit" type="submit" class="btn btn-success">
                                <i class="glyphicon glyphicon-floppy-save"></i> Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    <script src="//www.fuelcdn.com/fuelux/3.13.0/js/fuelux.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#ddlTiposTramite").change(function () {
                var tipoTramite = $(this).val();
                if (tipoTramite === "4") {
                    $('#dispTestamentaria').show();
                } else {
                    $('#dispTestamentaria').hide();
                }
            });

            $("#ddlTiposTramite").select(function () {
                var tipoTramite = $(this).val();
                if (tipoTramite === "4") {
                    $('#dispTestamentaria').show();
                } else {
                    $('#dispTestamentaria').hide();
                }
            });
        });
    </script>
}