﻿@model DGN21.Models.ViewModels.SolicitudesViewModels
@{
    ViewBag.Title = "Solicitud";
    Layout = "~/Views/Shared/_LayoutAbogado.cshtml";
    
    var displayDispTest = "none";
    if(Model.Solicitud.TipoTramite == 4)
    {
        displayDispTest = "block";
    }
}
@section Styles {
    <link href="//www.fuelcdn.com/fuelux/3.13.0/css/fuelux.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/bootstrap-datepicker3.min.css" />
}
<h2>@ViewBag.Title</h2>
<h3 class="alert alert-info">
    Folio: @Model.Solicitud.IdSolicitud<br />
    Estatus: @Model.Solicitud.EstatusSolicitudes.EstatusSolicitud
</h3>
<br />
<div class="row">
    <div class="fuelux col-xs-12">
        <div class="wizard" data-initialize="wizard" id="myWizard">
            <div class="steps-container">
                <ul class="steps">
                    <li data-step="1" class="active">
                        <span class="badge">1</span>Detalles de la solicitud
                        <span class="chevron"></span>
                    </li>
                    <li data-step="2">
                        <span class="badge">2</span>Documentos adjuntos
                        <span class="chevron"></span>
                    </li>
                    <li data-step="3">
                        <span class="badge">3</span>Papeleta de pago
                        <span class="chevron"></span>
                    </li>
                    <li data-step="4">
                        <span class="badge">4</span>Actualizar estatus
                        <span class="chevron"></span>
                    </li>
                    <li data-step="5">
                        <span class="badge">5</span>Baja Interna
                        <span class="chevron"></span>
                    </li>
                </ul>
            </div>
            <div class="step-content">
                <div class="step-pane active sample-pane alert" data-step="1">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Solicitud.NombreSolicitante, new { @class = "control-label", @id = "lblNombre" })
                                @Html.TextBoxFor(model => model.Solicitud.NombreSolicitante, new { @class = "form-control", @Id = "txtNombre", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Solicitud.ApellidoPaterno, new { @class = "control-label", @id = "lblApellidoPaterno" })
                                @Html.TextBoxFor(model => model.Solicitud.ApellidoPaterno, new { @class = "form-control", @Id = "txtApellidoPaterno", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Solicitud.ApellidoMaterno, new { @class = "control-label", @id = "lblApellidoMaterno" })
                                @Html.TextBoxFor(model => model.Solicitud.ApellidoMaterno, new { @class = "form-control", @Id = "txtApellidoMaterno", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Solicitud.CorreoElectronico, new { @class = "control-label", @id = "lblCorreo" })
                                @Html.TextBoxFor(model => model.Solicitud.CorreoElectronico, new { @class = "form-control", @Id = "txtCorreo", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Solicitud.Telefono, new { @class = "control-label", @id = "lblTelefono" })
                                @Html.TextBoxFor(model => model.Solicitud.Telefono, new { @class = "form-control", @Id = "txtTelefono", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Solicitud.Escritura, new { @class = "control-label", @id = "lblEscritura" })
                                @Html.TextBoxFor(model => model.Solicitud.Escritura, new { @class = "form-control", @Id = "txtEscritura", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Solicitud.Vol, new { @class = "control-label", @id = "lblVol" })
                                @Html.TextBoxFor(model => model.Solicitud.Vol, new { @class = "form-control", @Id = "txtVol", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Solicitud.NoNotaria, new { @class = "control-label", @id = "lblNoNotaria" })
                                @Html.TextBoxFor(model => model.Solicitud.NoNotaria, new { @class = "form-control", @Id = "txtNoNotaria", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Solicitud.Notario, new { @class = "control-label", @id = "lblNotario" })
                                @Html.TextBoxFor(model => model.Solicitud.Notario, new { @class = "form-control", @Id = "txtNotario", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Solicitud.Demarcacion, new { @class = "control-label", @id = "lblDemarcacion" })
                                @Html.TextBoxFor(model => model.Solicitud.Demarcacion, new { @class = "form-control", @Id = "txtDemarcacion", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Solicitud.TipoTramite, new { @Id = "lblTipoTramite", @class = "control-label" })
                                @Html.DropDownListFor(model => model.Solicitud.TipoTramite, new SelectList(ViewBag.TiposTramite, "IdTipoTramite", "TipoTramite"), "Seleccione...", new { @class = "form-control select25", @Id = "ddlTiposTramite", @name = "ddlTiposTramite", @style = "width: 100%!important;", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group" id="dispTestamentaria" style="display:@displayDispTest">
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Solicitud.Cujus, new { @class = "control-label", @id = "lblCujus" })
                                    @Html.TextBoxFor(model => model.Solicitud.Cujus, new { @class = "form-control", @Id = "txtCujus", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Solicitud.CujusSegundo, new { @class = "control-label", @id = "lblCujusSegundo" })
                                    @Html.TextBoxFor(model => model.Solicitud.CujusSegundo, new { @class = "form-control", @Id = "txtCujusSegundo", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Solicitud.Juzgado, new { @class = "control-label", @id = "lblJuzgado" })
                                    @Html.TextBoxFor(model => model.Solicitud.Juzgado, new { @class = "form-control", @Id = "txtJuzgado", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group form-check">
                                @Html.CheckBoxFor(model => model.Solicitud.CompareceEscritura, new { @class = "form-check-input", @Id = "chkCompareceEscritura", @disabled = "disabled" })
                                @Html.LabelFor(model => model.Solicitud.CompareceEscritura, new { @class = "control-label", @id = "lblCompareceEscritura" })
                            </div>
                        </div>
                    </div>
                    <div class="pull-right">
                        <button id="nextStep" type="button" class="btn btn-default btn-next">
                            Continuar <i class="glyphicon glyphicon-arrow-right"></i>
                        </button>
                    </div>
                </div>
                <div class="step-pane active sample-pane alert" data-step="2">
                    <div class="row">
                        <div class="col-md-12">
                            @foreach (var item in Model.Solicitud.Documentos)
                            {
                                <a href="@Url.Action("DescargarArchivo", "Solicitudes", new { id = item.IdDocumento })">
                                    <span class="glyphicon glyphicon-save"></span>
                                    <span>@item.Nombre.@item.Extension</span>
                                </a>
                                <br />
                            }
                        </div>
                    </div>
                    <div class="pull-right">
                        <button id="prevStep1" type="button" class="btn btn-default btn-prev">
                            <i class="glyphicon glyphicon-arrow-left"></i> Atrás
                        </button>
                        <button id="nextStep1" type="button" class="btn btn-default btn-next">
                            Continuar
                        </button>
                    </div>
                </div>
                <div class="step-pane active sample-pane alert" data-step="3">
                    @using (Html.BeginForm("PapeletaPago", "Solicitudes", FormMethod.Post, new { id = "frmPapeleta" }))
                    {
                        <div class="row">
                            @Html.HiddenFor(model => model.Solicitud.IdSolicitud, new { @class = "form-control", @Id = "hdIdSolicitud" })
                            @Html.HiddenFor(model => model.PapeletasPago.IdPapeletaPago, new { @class = "form-control", @Id = "hdIdPapeletaPago" })
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PapeletasPago.FormatosPapeletas, new { @Id = "lblEstatus", @class = "control-label" })
                                    @Html.DropDownListFor(model => model.PapeletasPago.IdFormatoPapeleta, new SelectList(ViewBag.FormatosPapeletas, "IdFormatoPapeleta", "NombreFormato"), "Seleccione...", new { @class = "form-control", @Id = "ddlEstatus", @name = "ddlFormatos", @style = "width: 100%!important;" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PapeletasPago.Cantidad, new { @class = "control-label", @id = "lblCantidad" })
                                    @Html.TextBoxFor(model => model.PapeletasPago.Cantidad, new { @class = "form-control", @Id = "txtCantidad" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PapeletasPago.CantidadLetra, new { @class = "control-label", @id = "lblCantidadLetra" })
                                    @Html.TextBoxFor(model => model.PapeletasPago.CantidadLetra, new { @class = "form-control", @Id = "txtCantidadLetra" })
                                </div>
                            </div>
                        </div>
                        <div class="pull-right">
                            @if (Model.PapeletasPago != null && !Model.PapeletasPago.IdPapeletaPago.Equals(0))
                            {
                                <button id="papeletaPago" type="button" class="btn btn-info" onclick="location.href='@Url.Action("DownloadPapeletaPago", "Solicitudes", new { id = Model.PapeletasPago.IdSolicitud })'">
                                    <i class="glyphicon glyphicon-download"></i> Papeleta de pago
                                </button>
                            }
                            <button type="submit" class="btn btn-success">
                                <i class="glyphicon glyphicon-floppy-save"></i> Guardar
                            </button>
                            <button id="prevStep2" type="button" class="btn btn-default btn-prev">
                                <i class="glyphicon glyphicon-arrow-left"></i> Atrás
                            </button>
                            <button id="nextStep2" type="button" class="btn btn-default btn-next">
                                Continuar
                            </button>
                        </div>
                    }
                    @{Html.EndForm();}
                </div>
                <div class="step-pane active sample-pane alert" data-step="4">
                    @using (Html.BeginForm("ActualizarEstatus", "Solicitudes", FormMethod.Post, new { id = "frmEstatus" }))
                    {
                        <div class="row">
                            @Html.HiddenFor(model => model.Solicitud.IdSolicitud, new { @class = "form-control", @Id = "hdIdSolicitud2" })
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Solicitud.EstatusSolicitud, new { @Id = "lblEstatus", @class = "control-label" })
                                    @Html.DropDownListFor(model => model.Solicitud.EstatusSolicitud, new SelectList(ViewBag.EstatusSolicitudes, "IdEstatusSolicitud", "EstatusSolicitud"), "Seleccione...", new { @class = "form-control select25", @Id = "ddlEstatus", @name = "ddlEstatus", @style = "width: 100%!important;" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Observacion.Observacion, new { @class = "control-label", @id = "lblObservacion" })
                                    @Html.TextAreaFor(model => model.Observacion.Observacion, new { @class = "form-control", @Id = "txtObservacion", @style = "resize: vertical; min-height:34px;", @rows = "3" })
                                </div>
                            </div>
                        </div>
                        if (Model.Observaciones?.Count > 0)
                        {
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label">Historial de Observaciones</label>
                                        <table id="datatable1" class="table table-striped table-bordered" style="width:100%;">
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center">@Html.DisplayNameFor(model => model.Observacion.Observacion)</th>
                                                    <th style="text-align:center">@Html.DisplayNameFor(model => model.Observacion.FechaCreacion)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.Observaciones)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Observacion)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.FechaCreacion)
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="pull-right">
                            <button type="submit" class="btn btn-success">
                                <i class="glyphicon glyphicon-floppy-save"></i> Guardar
                            </button>
                            <button id="prevStep3" type="button" class="btn btn-default btn-prev">
                                <i class="glyphicon glyphicon-arrow-left"></i> Atrás
                            </button>
                            <button id="nextStep3" type="button" class="btn btn-default btn-next">
                                Continuar
                            </button>
                        </div>
                    }
                    @{Html.EndForm();}
                </div>
                <div class="step-pane active sample-pane alert" data-step="5">
                    @using (Html.BeginForm("BajaTurnada", "Solicitudes", FormMethod.Post, new { id = "frmBaja" }))
                    {
                        <div class="row">
                            @Html.HiddenFor(model => model.Turnada.IdTurnado, new { @class = "form-control", @Id = "hdIdTurnado" })
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group form-check">
                                    @Html.CheckBoxFor(model => model.Turnada.Denegada, new { @class = "form-check-input", @Id = "chkDenegada" })
                                    @Html.LabelFor(model => model.Turnada.Denegada, new { @class = "control-label", @id = "lblDenegada" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Turnada.ObservacionInterna, new { @class = "control-label", @id = "lblObservacionI" })
                                    @Html.TextAreaFor(model => model.Turnada.ObservacionInterna, new { @class = "form-control", @Id = "txtObservacionI", @style = "resize: vertical; min-height:34px;", @rows = "3" })
                                </div>
                            </div>
                        </div>
                        <div class="pull-right">
                            <button type="submit" class="btn btn-success">
                                <i class="glyphicon glyphicon-floppy-save"></i> Guardar
                            </button>
                            <button id="prevStep4" type="button" class="btn btn-default btn-prev">
                                <i class="glyphicon glyphicon-arrow-left"></i> Atrás
                            </button>
                        </div>
                    }
                    @{Html.EndForm();}
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="//www.fuelcdn.com/fuelux/3.13.0/js/fuelux.min.js"></script>
    <script src="~/Scripts/moment.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myWizard').wizard();

            $('#datatable1').DataTable({
                "order": [[0, "desc"]],
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "Sin solicitudes",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Sin información",
                    "infoFiltered": "(Filtrado de _MAX_ registros totales)",
                    "paginate": {
                        "previous": "Anterior",
                        "next": "Siguiente",
                        "first": "Primera página",
                        "last": "Última página"
                    },
                    "sSearch": "Buscar:"
                },
                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": false,
                }]
            });
        });
    </script>
}