﻿@model DGN21.Models.ViewModels.SolicitudesViewModels
@{
    ViewBag.Title = "Solicitud";
    Layout = "~/Views/Shared/_LayoutArchivo.cshtml";
}
@section Styles {
    <link href="//www.fuelcdn.com/fuelux/3.13.0/css/fuelux.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/bootstrap-datepicker3.min.css" />
}
<h2>@ViewBag.Title</h2>
<h3 class="alert alert-info">
    Folio: @Model.Solicitud.IdSolicitud<br />
    Estatus: @Model.Solicitud.EstatusSolicitudes.EstatusSolicitud
</h3>
<br />
<div class="row">
    <div class="fuelux col-xs-12">
        <div class="wizard" data-initialize="wizard" id="myWizard">
            <div class="steps-container">
                <ul class="steps">
                    <li data-step="1" class="active">
                        <span class="badge">1</span>Detalles de la solicitud
                        <span class="chevron"></span>
                    </li>
                    <li data-step="2">
                        <span class="badge">2</span>Documentos adjuntos
                        <span class="chevron"></span>
                    </li>
                    <li data-step="3">
                        <span class="badge">3</span>Turnar
                        <span class="chevron"></span>
                    </li>
                    @*<li data-step="4">
                        <span class="badge">4</span>Baja Interna
                        <span class="chevron"></span>
                    </li>*@
                </ul>
            </div>
            <div class="step-content">
                <div class="step-pane active sample-pane alert" data-step="1">
                    @using (Html.BeginForm("GuardarArchivo", "Solicitudes", FormMethod.Post, new { id = "frmSolicitud" }))
                    {
                        @Html.HiddenFor(model => model.Solicitud.IdSolicitud, new { @class = "form-control", @Id = "hdIdSolicitud" })
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Solicitud.NombreSolicitante, new { @class = "control-label", @id = "lblNombre" })
                                    @Html.TextBoxFor(model => model.Solicitud.NombreSolicitante, new { @class = "form-control", @Id = "txtNombre", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Solicitud.ApellidoPaterno, new { @class = "control-label", @id = "lblApellidoPaterno" })
                                    @Html.TextBoxFor(model => model.Solicitud.ApellidoPaterno, new { @class = "form-control", @Id = "txtApellidoPaterno", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Solicitud.ApellidoMaterno, new { @class = "control-label", @id = "lblApellidoMaterno" })
                                    @Html.TextBoxFor(model => model.Solicitud.ApellidoMaterno, new { @class = "form-control", @Id = "txtApellidoMaterno", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Solicitud.CorreoElectronico, new { @class = "control-label", @id = "lblCorreo" })
                                    @Html.TextBoxFor(model => model.Solicitud.CorreoElectronico, new { @class = "form-control", @Id = "txtCorreo", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Solicitud.Telefono, new { @class = "control-label", @id = "lblTelefono" })
                                    @Html.TextBoxFor(model => model.Solicitud.Telefono, new { @class = "form-control", @Id = "txtTelefono", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Solicitud.Escritura, new { @class = "control-label", @id = "lblEscritura" })
                                    @Html.TextBoxFor(model => model.Solicitud.Escritura, new { @class = "form-control", @Id = "txtEscritura" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Solicitud.Vol, new { @class = "control-label", @id = "lblVol" })
                                    @Html.TextBoxFor(model => model.Solicitud.Vol, new { @class = "form-control", @Id = "txtVol" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Solicitud.NoNotaria, new { @class = "control-label", @id = "lblNoNotaria" })
                                    @Html.TextBoxFor(model => model.Solicitud.NoNotaria, new { @class = "form-control", @Id = "txtNoNotaria" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Solicitud.Notario, new { @class = "control-label", @id = "lblNotario" })
                                    @Html.TextBoxFor(model => model.Solicitud.Notario, new { @class = "form-control", @Id = "txtNotario" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Solicitud.Demarcacion, new { @class = "control-label", @id = "lblDemarcacion" })
                                    @Html.TextBoxFor(model => model.Solicitud.Demarcacion, new { @class = "form-control", @Id = "txtDemarcacion" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Solicitud.TipoTramite, new { @Id = "lblTipoTramite", @class = "control-label" })
                                    @Html.DropDownListFor(model => model.Solicitud.TipoTramite, new SelectList(ViewBag.TiposTramite, "IdTipoTramite", "TipoTramite"), "Seleccione...", new { @class = "form-control select25", @Id = "ddlTiposTramite", @name = "ddlTiposTramite", @style = "width: 100%!important;" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group form-check">
                                    @Html.CheckBoxFor(model => model.Solicitud.CompareceEscritura, new { @class = "form-check-input", @Id = "chkCompareceEscritura" })
                                    @Html.LabelFor(model => model.Solicitud.CompareceEscritura, new { @class = "control-label", @id = "lblCompareceEscritura" })
                                </div>
                            </div>
                        </div>
                        <h4>Información de búsqueda</h4>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.SolicitudBusqueda.Otorgante, new { @class = "control-label", @id = "lblOtorgante" })
                                    @Html.TextBoxFor(model => model.SolicitudBusqueda.Otorgante, new { @class = "form-control", @Id = "txtOtorgante", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.SolicitudBusqueda.AnioEscritura, new { @class = "control-label", @id = "lblAnioEscritura" })
                                    @Html.TextBoxFor(model => model.SolicitudBusqueda.AnioEscritura, new { @class = "form-control", @Id = "txtAnioEscritura", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                        <div class="pull-right">
                            <button id="nextStep1" type="button" class="btn btn-default btn-next">
                                Continuar <i class="glyphicon glyphicon-arrow-right"></i>
                            </button>
                            <button id="submit1" type="submit" class="btn btn-success">
                                <i class="glyphicon glyphicon-floppy-save"></i> Guardar
                            </button>
                        </div>
                    }
                    @{Html.EndForm();}
                </div>
                <div class="step-pane active sample-pane alert" data-step="2">
                    <div class="row">
                        <div class="col-md-12">
                            @foreach (var item in Model.Solicitud.Documentos)
                            {
                                <a href="@Url.Action("DescargarArchivo", "Solicitudes", new { id = item.IdDocumento })">
                                    <span class="glyphicon glyphicon-save"></span>
                                    <span>@item.Nombre.@item.Extension</span>
                                </a>
                                <br />
                            }
                        </div>
                    </div>
                    <div class="pull-right">
                        <button id="prevStep1" type="button" class="btn btn-default btn-prev">
                            <i class="glyphicon glyphicon-arrow-left"></i> Atrás
                        </button>
                        <button id="nextStep1" type="button" class="btn btn-default btn-next">
                            Continuar
                        </button>
                    </div>
                </div>
                <div class="step-pane active sample-pane alert" data-step="3">
                    @using (Html.BeginForm("TurnarArchivo", "Solicitudes", FormMethod.Post, new { id = "frmTurnar" }))
                    {
                        <div class="row">
                            @Html.HiddenFor(model => model.Turnada.IdSolicitud, new { @class = "form-control", @Id = "hdIdSolicitud2" })
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.Label("Escoge el usuario a turnar", new { @Id = "lblUserTurnar", @class = "control-label" })
                                    @Html.DropDownListFor(model => model.Turnada.IdUserTurnado, new SelectList(ViewBag.UsersTurnar, "Id", "Name"), "Seleccione...", new { @class = "form-control", @Id = "ddlUsers", @name = "ddlUser", @style = "width: 100%!important;" })
                                </div>
                            </div>
                        </div>
                        <div class="pull-right">
                            <button id="prevStep2" type="button" class="btn btn-default btn-prev">
                                <i class="glyphicon glyphicon-arrow-left"></i> Atrás
                            </button>
                            @*<button id="nextStep2" type="button" class="btn btn-default btn-next">
                                Continuar <i class="glyphicon glyphicon-arrow-right"></i>
                            </button>*@
                            <button id="submit2" type="submit" class="btn btn-success">
                                <i class="glyphicon glyphicon-floppy-save"></i> Guardar
                            </button>
                        </div>
                    }
                    @{Html.EndForm();}
                </div>
                @*<div class="step-pane active sample-pane alert" data-step="4">
                    @using (Html.BeginForm("BajaTurnadaArchivo", "Solicitudes", FormMethod.Post, new { id = "frmBaja" }))
                    {
                        <div class="row">
                            @Html.HiddenFor(model => model.Turnada.IdTurnado, new { @class = "form-control", @Id = "hdIdTurnado" })
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group form-check">
                                    @Html.CheckBoxFor(model => model.Turnada.Denegada, new { @class = "form-check-input", @Id = "chkDenegada" })
                                    @Html.LabelFor(model => model.Turnada.Denegada, new { @class = "control-label", @id = "lblDenegada" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Turnada.ObservacionInterna, new { @class = "control-label", @id = "lblObservacionI" })
                                    @Html.TextAreaFor(model => model.Turnada.ObservacionInterna, new { @class = "form-control", @Id = "txtObservacionI", @style = "resize: vertical; min-height:34px;", @rows = "3" })
                                </div>
                            </div>
                        </div>
                        <div class="pull-right">
                            <button type="submit" class="btn btn-success">
                                <i class="glyphicon glyphicon-floppy-save"></i> Guardar
                            </button>
                            <button id="prevStep3" type="button" class="btn btn-default btn-prev">
                                <i class="glyphicon glyphicon-arrow-left"></i> Atrás
                            </button>
                        </div>
                    }
                    @{Html.EndForm();}
                </div>*@
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="//www.fuelcdn.com/fuelux/3.13.0/js/fuelux.min.js"></script>
    <script src="~/Scripts/moment.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myWizard').wizard();

            $('#datatable1').DataTable({
                "order": [[0, "desc"]],
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "Sin solicitudes",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Sin información",
                    "infoFiltered": "(Filtrado de _MAX_ registros totales)",
                    "paginate": {
                        "previous": "Anterior",
                        "next": "Siguiente",
                        "first": "Primera página",
                        "last": "Última página"
                    },
                    "sSearch": "Buscar:"
                },
                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": false,
                }]
            });
        });
    </script>
}